<div class="container">
    <h2>個人資料</h2>
    <div class="card" style="width:400px">
        <img class="card-img-top" id="img" src="" alt="Card image" style="width:100%">
        <div class="card-body">
            <h4 id="name" class="card-title"></h4>
            <p id="email" class="card-text"></p>
            <p id="create" class="card-text"></p>
            <p id="update" class="card-text"></p>
            <a href="" class="btn btn-primary">更新資料</a>
        </div>
    </div>
</div>
<script src="/js/fetch_request/profile.js"></script>