<footer class="bg-light text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3" id="year" style="background-color: rgba(0, 0, 0, 0.2);"></div>
    <!-- Copyright -->
</footer>
<script>
    const year = new Date().getFullYear();
    document.getElementById('year').innerText = "© " + year + " Copyright";
</script>