<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-sm-6 col-md-6 animated bounceInDown">
            <div class="account-wall">
                <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120" alt="">
                <form class="form-signin" autocomplete="off">
                    <button class="btn btn-dark btn-block" onclick="googleLogin()">
                        <img class="google-icon mr-3" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>Google 登入</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/js/fetch_request/login.js"></script>