<link rel="stylesheet" href="/stylesheets/sidenavbar.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <a href="/">首頁</a>
    <a class="notAuthenticated" href="/admin/login">登入</a>
    <a class="notAuthenticated" href="/admin/register">註冊</a>
    <a class="isAuthenticated" href="/auth">個人資料</a>
    <a id="logout" class="isAuthenticated" href="#">登出</a>
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top" style="z-index: 2">
    <!-- Brand -->
    <li class="navbar-brand">
        <a class="openbtn" id="main" href="javascript:openNav()">☰</a> Hello中原
    </li>
</nav>
<script>
    function openNav() {
        document.getElementById("mySidebar").style.width = "250px";
        document.getElementById('main').style.display = "none";
    }

    function closeNav() {
        document.getElementById("mySidebar").style.width = "0";
        document.getElementById('main').style.display = "inline-block";
    }
</script>
<script src="/js/fetch_request/logout.js"></script>
<script src="/js/fetch_request/token.js"></script>
<script src="/js/forAll.js"></script>