<head>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="1047924292997-3pht638fc2a7qs83lnt2deqiqkfmntj8.apps.googleusercontent.com">
</head>

<link rel="stylesheet" href="/stylesheets/sidenavbar.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <a href="/">首頁</a>
    <a class="notAuthenticated" href="/admin/login">登入</a>
    <a class="notAuthenticated" href="/admin/register">註冊</a>
    <a class="isAuthenticated" href="/auth">個人資料</a>
    <a class="isAuthenticated" href="/auth/wall">動態牆</a>
    <a class="haveStore" href="/shop" style="display: none;">我的商店</a>
    <a id="logout" class="isAuthenticated" href="#">登出</a>
    <a id="btnInstall" href="javascript:void(0)" onclick="openCreatePostModal()" style="display: none;">安裝</a>
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top" style="z-index: 2">
    <!-- Brand -->
    <li class="navbar-brand">
        <a class="openbtn" id="main" href="javascript:openNav()">☰</a> foodone
    </li>
</nav>
<script>
    function openNav() {
        document.getElementById("mySidebar").style.width = "250px";
        document.getElementById('main').style.display = "none";
    }

    function closeNav() {
        document.getElementById("mySidebar").style.width = "0";
        document.getElementById('main').style.display = "inline-block";
    }

    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function() {
            console.log('User signed out.');
        });
    }

    function onLoad() {
        gapi.load('auth2', function() {
            gapi.auth2.init();
        });
    }

    let deferredPrompt;
    window.addEventListener('beforeinstallprompt', function(event) {
        event.preventDefault();
        deferredPrompt = event;
        document.getElementById("btnInstall").style = "block";
        return false;
    });

    function openCreatePostModal() {
        if (deferredPrompt) {
            deferredPrompt.prompt();
            deferredPrompt.userChoice.then(function(choiceResult) {
                //console.log(choiceResult.outcome);
                if (choiceResult.outcome === 'dismissed') {
                    //console.log('User cancelled installation');
                } else {
                    document.getElementById("btnInstall").style = "none";
                }
            });
            deferredPrompt = null;
        }
    }
</script>
<script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
<script src="/js/fetch_request/logout.js"></script>
<script src="/js/fetch_request/token.js"></script>
<script src="/js/forAll.js"></script>