<link rel="stylesheet" href="/stylesheets/sidenavbar.css">

<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <a href="/">首頁</a>
    <a class="notAuthenticated" href="/templates/login">登入</a>
    <a class="notAuthenticated" href="/templates/register">註冊</a>
    <a class="isAuthenticated" href="/templates/user">個人資料</a>
    <a id="logout" class="isAuthenticated" href="#">登出</a>
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top" style="z-index: 2">
    <!-- Brand -->
    <li class="navbar-brand">
        <a class="openbtn" id="main" href="javascript:openNav()">☰</a> Hello中原
    </li>
</nav>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        if (localStorage.acesstoken) {
            for (let i = 0; i < document.getElementsByClassName('isAuthenticated').length; i++)
                document.getElementsByClassName('isAuthenticated')[i].style.display = "block";
            for (let i = 0; i < document.getElementsByClassName('notAuthenticated').length; i++)
                document.getElementsByClassName('notAuthenticated')[i].style.display = "none";
        } else {
            for (let i = 0; i < document.getElementsByClassName('isAuthenticated').length; i++)
                document.getElementsByClassName('isAuthenticated')[i].style.display = "none";
            for (let i = 0; i < document.getElementsByClassName('notAuthenticated').length; i++)
                document.getElementsByClassName('notAuthenticated')[i].style.display = "block";
        }
    }, false);

    function openNav() {
        document.getElementById("mySidebar").style.width = "250px";
        document.getElementById('main').style.display = "none";
    }

    function closeNav() {
        document.getElementById("mySidebar").style.width = "0";
        document.getElementById('main').style.display = "inline-block";
    }
</script>
<script src="/js/fetch_request/logout.js"></script>