<div id="loader" class="loader loader-default is-active"></div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('loader').classList.remove('is-active');
    }, false);
</script>