<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-sm-12 col-md-6  animated bounceInDown">
            <div class="account-wall">
                <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120" alt="">
                <form class="form-signin" autocomplete="off">
                    <input type="text" id="name" class="form-control" placeholder="姓名" required autofocus>
                    <input type="email" id="email" class="form-control" placeholder="電子郵件地址" required autofocus>
                    <input type="password" id="password" class="form-control" placeholder="密碼" required>
                    <input type="password" id="repassword" class="form-control" placeholder="確認密碼" required>
                    <button class="btn btn-primary btn-block" id="submit">註冊</button>
                    <div class="row justify-content-around align-items-center">
                        <label class="form-check-label mt-1">
                            <input type="checkbox" class="form-check-input" id="policy" value="">
                            <h6>我同意會員規範和隱私權政策</h6>
                        </label>
                        <a href="#" class="need-help">忘記密碼</a>
                    </div>
                </form>
                <a href="/templates/login" class="text-right new-account mr-4">登入</a>
            </div>
        </div>
    </div>
</div>
<script src="/js/fetch_request/register.js"></script>