<div class="container h-100">
    <div id="product" class="row mt-5 h-100 justify-content-start align-items-center"></div>
</div>
<template id="productTemplate">
        <div class="card col-sm-6 col-md-3 mt-3 mr-3">
            <a class="text-decoration-none">
            <img class="img-fluid" src="/images/background.jpg">
            <div class="card-footer justify-content-between">
                <span>name</span>
                <span>price</span>
            </div>
            </a>
        </div>
</template>
<script src="/js/fetch_request/storePage.js"></script>
<script>
    getProductFn();
</script>