<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-sm-12 col-md-12">
            <div class="account-wall">
                <form class="form-signin" autocomplete="off">
                    <p>正在等待驗證結果</p>
                    <div class="spinner-border"></div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/js/fetch_request/verify.js"></script>