<style>
    .blur {
        filter: grayscale(10%) brightness(50%) blur(2px);
    }
    
    .overlay-text {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.5rem;
    }
</style>
<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div id="wall" class="col-sm-6 col-md-6  mt-5"></div>
    </div>
</div>
<template id="storeTemplate">
    <div class="card mt-3">
        <a href="#" class="btn">
            <div class="col-12">
                <h4 name="name" class="card-title d-inline-block float-left"></h4>
                <h4 name="open" class="text-success d-inline-block float-right">營業中</h4>
                <h4 name="closed" class="text-danger d-inline-block float-right">已打烊</h4>
            </div>
            <div class="card-body"><img id="thumbnail" class="img-fluid" src="/images/background.jpg"></div>
            <div class="card-footer">Footer</div>
        </a>
    </div>
</template>
<script src="/js/fetch_request/wall.js"></script>
<script>
    async function getStore() {
        const data = await getStoreFn();
        const wall = document.getElementById('wall');
        for (let i = 0; i < data.result.length; i++) {
            const store = data.result[i];
            let newStore = document.getElementById('storeTemplate').cloneNode(true);
            if (!store.status || store.status > 180)
                newStore.content.querySelector('[name="open"]').textContent = "";
            else
                newStore.content.querySelector('[name="closed"]').textContent = "";
            newStore.content.querySelector('[name="name"]').textContent = store.name;
            newStore.content.querySelector('a > .card-footer').textContent = store.address;
            newStore.content.querySelector('a').href = location.href.split("/wall")[0] + "/storepage?" + store.id;
            if (store.thumbnail)
                newStore.content.getElementById('thumbnail').src = `${store.thumbnail}?${store.last_update}`;
            let card = document.importNode(newStore.content, true);
            wall.appendChild(card);
        }
    }
    getStore();
</script>