<style>
    html,
    body {
        overflow-y: hidden;
    }
    
    #unaccept {
        height: 90vh;
        overflow-y: scroll;
    }
    
    #accepted {
        height: 90vh;
        overflow-y: scroll;
    }
</style>

<template id="optionTemplate">
    <li name="option"></li>
</template>
<template id="productTemplate">
    <li name="product">
        <h5 name="name"></h5>
        <ul name="options"></ul>
    </li>
</template>
<template id="orderTemplate">
    <div class="card col-12 mt-2" name="order">
        <div class="input-group mb-2 mt-2">
            <div class="input-group-prepend">
                <span class="input-group-text">訂餐人</span>
            </div>
            <input type="text" class="form-control" placeholder="訂餐人" name="name" disabled>
            <div class="input-group-prepend ml-3">
                <span class="input-group-text">編號</span>
            </div>
            <input type="text" class="form-control" placeholder="編號" name="sequence" disabled>
        </div>
        <div class="input-group mb-2 mt-2">
            <div class="input-group-prepend">
                <span class="input-group-text">下單時間</span>
            </div>
            <input type="text" class="form-control" placeholder="時間" name="DATE" disabled>
        </div>
        <div class="input-group mb-2 mt-2">
            <div class="input-group-prepend">
                <span class="input-group-text">預約時間</span>
            </div>
            <input type="text" class="form-control" placeholder="預約時間" name="reservation" disabled>
        </div>
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <span class="input-group-text">免洗餐具</span>
            </div>
            <input type="text" class="form-control" placeholder="免洗餐具" name="tableware" disabled>
        </div>
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <span class="input-group-text">總金額</span>
            </div>
            <input type="text" class="form-control" placeholder="總金額" name="total" disabled>
        </div>
        <ul name="product-detail">

        </ul>
    </div>
</template>
<template id="unacceptBtnsTemplate">
    <div name="action" class="row mt-3 mb-3 mr-3 justify-content-end align-items-center">
        <input type="text" class="form-control col-md-7 col-6 mr-3" placeholder="留言" name="comments">
        <button class="btn btn-danger mr-3" onclick="changeListen(complete,this)">拒絕</button>
        <button class="btn btn-success" onclick="changeListen(accept,this)">接受</button>
    </div>
</template>
<template id="acceptedBtnsTemplate">
    <div name="action" class="row mt-3 mb-3 mr-3 justify-content-end align-items-center">
        <button class="btn btn-warning" name="finish" onclick="changeListen(finish,this)">標示為完成</button>
    </div>
</template>
<template id="finishedBtnsTemplate">
    <div name="action" class="row mt-3 mb-3 mr-3 justify-content-end align-items-center">
        <button class="btn btn-danger" name="complete" onclick="changeListen(complete,this)">標示為結單</button>
    </div>
</template>
<template id="loadingTemplate">
    <span class="spinner-border spinner-border-sm"></span>
</template>

<div id="orderList" class="container-fluid">
    <div id="orderList" class="row mt-5">
        <div class="col-md-6 col-sm-12 p-0" id="unaccept-body">
            <div class="d-flex m-0">
                <div class="p-2 bg-info flex-fill text-white text-center">新訂單</div>
                <div class="p-2 bg-success text-center d-md-none">
                    <a class="text-white" href="javascript:switchPanel('accepted-body')">⮩</a>
                </div>
            </div>
            <div id="unaccept"></div>
        </div>
        <div id="accepted-body" class="col-md-6 col-sm-12 p-0 d-none d-md-block">
            <div class="d-flex m-0">
                <div class="p-2 bg-info text-center d-md-none">
                    <a class="text-white" href="javascript:switchPanel('unaccept-body')">⮨</a>
                </div>
                <div class="p-2 bg-success flex-fill text-white  text-center">已接受的訂單</div>
            </div>
            <div id="accepted"></div>
        </div>
    </div>
</div>

<script src="/js/fetch_request/shop/login.js"></script>
<script src="/js/fetch_request/shop/bussiness/getOrder.js"></script>
<script src="/js/fetch_request/shop/bussiness/token.js"></script>
<script src="/js/fetch_request/shop/bussiness/accept.js"></script>
<script src="/js/fetch_request/shop/bussiness/finish.js"></script>
<script src="/js/fetch_request/shop/bussiness/complete.js"></script>

<script>
    let lastLength = -1;
    orderListGenerate();

    setInterval(function() {
        refresh();
    }, 1000 * 60);

    async function refresh() {
        const nowLength = await orderListGenerate();
        if (nowLength != lastLength && ~lastLength) playAudio();
        lastLength = nowLength;
    }

    function playAudio() {
        const audio = document.createElement("audio");
        audio.src = "/sounds/happyBell.wav";
        audio.play();
    }

    async function changeListen(fun, element) {
        //const wholeCard = element.parentNode.children;
        const allButton = document.getElementsByTagName('button');
        for (let i = 0; i < allButton.length; i++)
            allButton[i].setAttribute("disabled", "disabled");

        const loadingTemplate = document.getElementById('loadingTemplate');
        const loading = document.importNode(loadingTemplate.content, true);
        const comments = element.parentNode.querySelector('[name="comments"]');
        element.prepend(loading);
        const data = {
            _id: element.parentNode.parentNode.id,
            comments: comments ? comments.value : null
        };
        const result = await fun(data);
        if (result.code) lastLength = await orderListGenerate();
    }

    function switchPanel(method) {
        document.getElementById('accepted-body').classList.add('d-none');
        document.getElementById('unaccept-body').classList.add('d-none');
        document.getElementById(method).classList.remove('d-none');
    }

    function optionDetail(element, options) {
        const data = JSON.parse(options);
        for (let i = 0; i < data.length; i++) {
            const optionTemplate = document.getElementById('optionTemplate').cloneNode(true);
            const optionTxt = (option) => {
                let result = "";
                if (typeof option == Array)
                    for (let j = 0; j < option.length; j++)
                        result += `${option}${j < option.length - 1 ? "," : ""}`;
                else return option;
                return result;
            }
            optionTemplate.content.querySelector('[name="option"]').innerText = `${data[i]['title']}：${optionTxt(data[i]['option'])}`;
            const newOption = document.importNode(optionTemplate.content, true);
            element.appendChild(newOption);
        }
    }

    function poductDetail(element, order) {
        const data = JSON.parse(order);
        for (let i = 0; i < data.length; i++) {
            const productTemplate = document.getElementById('productTemplate').cloneNode(true);
            optionDetail(productTemplate.content.querySelector('[name="options"]'), data[i]['options']);
            productTemplate.content.querySelector('[name="name"]').innerText = `${data[i]['name']} X${data[i]['count']}`;
            productTemplate.content.querySelector('[name="product"]').id = data[i]['_id'];
            const newProduct = document.importNode(productTemplate.content, true);
            element.appendChild(newProduct);
        }
    }

    async function orderListGenerate() {
        const data = await getOrder();
        const order = data['result'];
        const unaccept = document.getElementById('unaccept');
        const accepted = document.getElementById('accepted');
        const unacceptBtnsTemplate = document.getElementById('unacceptBtnsTemplate');
        const acceptedBtnsTemplate = document.getElementById('acceptedBtnsTemplate');
        const finishedBtnsTemplate = document.getElementById('finishedBtnsTemplate');
        unaccept.innerHTML = '';
        accepted.innerHTML = '';

        for (let i = 0; i < order.length; i++) {
            const orderTemplate = document.getElementById('orderTemplate').cloneNode(true);
            const unacceptBtns = document.importNode(unacceptBtnsTemplate.content, true);
            const acceptedBtns = document.importNode(acceptedBtnsTemplate.content, true);
            const finishedBtns = document.importNode(finishedBtnsTemplate.content, true);

            poductDetail(orderTemplate.content.querySelector('[name="product-detail"]'), order[i]['order']);
            orderTemplate.content.querySelector('[name="name"]').value = order[i]['name'];
            orderTemplate.content.querySelector('[name="sequence"]').value = order[i]['sequence'];
            orderTemplate.content.querySelector('[name="DATE"]').value = (new Date(order[i]['DATE'])).toLocaleString();
            orderTemplate.content.querySelector('[name="order"]').id = order[i]['_id'];
            orderTemplate.content.querySelector('[name="reservation"]').value = order[i]['reservation'] || "即時";
            orderTemplate.content.querySelector('[name="tableware"]').value = order[i]['tableware'] ? '是' : '否';
            orderTemplate.content.querySelector('[name="total"]').value = order[i]['total'];
            orderTemplate.content.querySelector('[name="order"]').appendChild(order[i]['accept'] ? (order[i]['finish'] ? finishedBtns : acceptedBtns) : unacceptBtns);
            const newOrder = document.importNode(orderTemplate.content, true);
            const container = order[i]['accept'] ? accepted : unaccept;
            container.appendChild(newOrder);
        }
        const unacceptDiv = document.createElement("div");
        unacceptDiv.classList.add('mt-5');
        unaccept.appendChild(unacceptDiv);
        const acceptedDiv = document.createElement("div");
        acceptedDiv.classList.add('mt-5');
        accepted.appendChild(acceptedDiv);
        return order.length;
    }
</script>